.badges {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.badge {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &__img {
    height: 50px;
    margin-right: 10px;
  }

  &__title {
    display: inline;
    font-size: 16px;
    padding: 5px;
  }
}