.nav {
  
  &_admin {
    padding: 0 15px;
    line-height: 35px;
    color: #fff;
    background-color: #4292e6;
    margin-bottom: 40px;

    a {
      color: #fff;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1400px;
    margin: 0 auto;
  }

  &__logo {
    display: inline;

    &_admin {
      font-size: 140%;
      font-weight: bold;
    }
  }

  &__user {
    text-align: right;
  }
}