<h1>Tests</h1>

<table class='table'>
  <tr>
    <th class='sort-by-title pointer'>
      Title
      <%= octicon 'arrow-up', class: 'text-success hidden' %>
      <%= octicon 'arrow-down', class: 'text-success hidden' %>  
    </th>
    <th>Level</th>
    <th>Category</th>
    <th>Questions</th>
    <th>Actions</th>
  </tr>
  <%= render @tests %>
</table>

